# HipChat settings
ADMIN_TOKEN = ''
OWNER_USER_ID = ''
NOTIFY_ROOM_ID = ''
TOPIC = "Live Chat - Someone will be with you shortly :)"

# Time settings
TIME_ZONE = 'US/Central'
OPEN_HR = 9
OPEN_MIN = 00
CLOSE_HR = 17
CLOSE_MIN = 00

# Server settings
SERVER_HOST = 'localhost'
SERVER_PORT = 8080
DEBUG_MODE = True